<p>Ejemplo de ng-include</p>
<div data-ng-include="'views/components/hola.html'"></div>
<!--  ng-include === data-ng-include  -->
<!-- template inline
<div ng-include="'componenthola'"></div>
<script type="text/ng-template" id="componenthola">
    Hola 2!
</script>-->
<!-- templates
<div ng-include="selectedComponent"></div>
<button ng-click="toggleComponent()">Toggle component!</button>
<script type="text/ng-template" id="componenthola">
    Hola 2!
</script>
<script type="text/ng-template" id="componenthola2">
    Hola 3!
</script>-->