<h3>Num</h3>
<p>{{num}}</p>
<h3>Sum</h3>
<p>{{sum}}</p>
<h3>Persona</h3>
<p>{{people}}</p>
<p>{{people.name}}</p>
<p>{{people.age}}</p>
<h3>Personas</h3>
<p>{{morePeople}}</p>
<!-- ng-repeat
<div ng-repeat="item in morePeople">
    <hr></hr>
    <p>{{item.name}}</p>
    <p>{{item.age}}</p>
</div>
-->
<!-- double binding
<div ng-repeat="item in morePeople">
    <hr></hr>
    <input type="text" ng-model="item.name"></input>
    <input type="text" ng-model="item.age"></input>
</div>
<button ng-click="showPeople()">Show People</button>
-->
